@import url('https://fonts.cdnfonts.com/css/minecraft-4');
                

* {
    padding: 0;
    margin: 0;
    font-family: Minecraft, Impact, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: rgb(3, 30, 71);
    box-shadow: 0px 3px 0px #464646;
    background-image: url("https://images.stockcake.com/public/5/0/a/50a107ca-5bbf-4e26-a148-77dbed816f7e_large/pixelated-ocean-wave-stockcake.jpg"); 
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo h1 {
    color: rgb(255, 255, 255);
}

.logo:hover h1 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: 0.2s;
    text-shadow: none;
}

.navegar {
    display: flex;
    align-items: center;
}

.navegar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.item {
    margin: 10px;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 400;
    text-shadow: #000000 0px 1px 15px;
}

.link:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s;
    text-shadow: none;
    transform: scale(1.05);
}


.btn {
    display: inline-block;
    border: none;
    border-radius: 15px;
    background-color: rgba(72, 136, 214, 0.67);
    padding: 20px;
    cursor: pointer;
    box-shadow: #000000 0px 0px 15px;
    color: aliceblue;
    text-decoration: none;
}

.btn:hover{
    background-color: rgba(72, 136, 214, 0.9);
    transition: 0.2s;
    transform: scale(1.05); 
    box-shadow: none;
}

ul.jogo {
    display: flex;
    padding: 40px;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

ul.jogo li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background: #2A7B9B;
    background: linear-gradient(359deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 91%, rgba(237, 221, 83, 1) 100%);
}

.gameimage {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: #464646 5px 3px 10px;
}

.gameimage:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

h3 {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-shadow: #464646 1px 1px 2px;
    text-align: center;
    font-family: Minecraft, Impact, 'Arial Narrow Bold', sans-serif;
}

h5 {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-shadow: #464646 1px 1px 2px;
    text-align: center;
    font-family: Minecraft, Impact, 'Arial Narrow Bold', sans-serif;
}

h5:hover {
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: 0.2s;
    transform: scale(1.05);
    text-shadow: none;
}